<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true"/>
		<setting name="lazyLoadingEnabled" value="false"/>
		<setting name="aggressiveLazyLoading" value="false"/>
		<setting name="multipleResultSetsEnabled" value="true"/>
		<setting name="useColumnLabel" value="true"/>
		<setting name="useGeneratedKeys" value="true"/>
		<setting name="autoMappingBehavior" value="PARTIAL"/>
		<setting name="defaultExecutorType" value="SIMPLE"/>
		<setting name="defaultStatementTimeout" value="25"/>
		<setting name="safeRowBoundsEnabled" value="false"/>
		<setting name="mapUnderscoreToCamelCase" value="false"/>
		<setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>
		<setting name="localCacheScope" value="SESSION"/>
		<setting name="jdbcTypeForNull" value="OTHER"/>
		<setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
		<setting name="proxyFactory" value="JAVASSIST"/>
		<setting name="defaultFetchSize" value="100"/>
		<setting name="useActualParamName" value="true"/>
		<setting name="logImpl" value="LOG4J2"/>
	</settings>

	<typeHandlers>
		<typeHandler javaType="java.util.Map" jdbcType="BINARY"
				handler="com.github.cataclysmuprising.myapp.common.mybatis.typeHandler.LongArrayListTypeHandler"/>
		<typeHandler javaType="java.util.Map" jdbcType="BINARY"
				handler="com.github.cataclysmuprising.myapp.common.mybatis.typeHandler.StringArrayListTypeHandler"/>

		<!-- Joda DateTime Type Handler -->
		<typeHandler javaType="org.joda.time.LocalDate" jdbcType="TIMESTAMP"
				handler="com.github.cataclysmuprising.myapp.common.mybatis.typeHandler.LocalDateTypeHandler"/>
		<typeHandler javaType="org.joda.time.LocalTime" jdbcType="TIMESTAMP"
				handler="com.github.cataclysmuprising.myapp.common.mybatis.typeHandler.LocalTimeTypeHandler"/>
		<typeHandler javaType="org.joda.time.LocalDateTime" jdbcType="TIMESTAMP"
				handler="com.github.cataclysmuprising.myapp.common.mybatis.typeHandler.LocalDateTimeTypeHandler"/>
		<typeHandler javaType="org.joda.time.DateTime" jdbcType="TIMESTAMP"
				handler="com.github.cataclysmuprising.myapp.common.mybatis.typeHandler.DateTimeTypeHandler"/>

		<typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.github.cataclysmuprising.myapp.domain.bean.UserBean$Status"/>
		<typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.github.cataclysmuprising.myapp.domain.bean.UserBean$Gender"/>
		<typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.github.cataclysmuprising.myapp.domain.bean.StaticContentBean$FileType"/>
		<typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.github.cataclysmuprising.myapp.domain.bean.ActionBean$ActionType"/>

	</typeHandlers>
</configuration>